*{
    padding: 0;
    margin: 0;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    position: absolute;
    background-size: cover;
 
}

.track{
    height: 100vh;
    width: 100%;
    background-image: url(track.png);
    position: absolute;
    background-size: cover;
    top: 70vh;
 
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 0px;
}

.wheel{

}
.wheel1 img{
    width: 77px;
 position: relative;
 top: 44px;
 left: 33px;

}
.wheel2 img{
 width: 77px;
 position: relative;
 top: -39px;
 left: 235px;
    
}